// В этом файле должны быть стили для БЭМ-блока search-stat, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-stat {

  $block-name:                &; // #{$block-name}__element

  color: #686868;
  white-space: nowrap;

  span {
    color: #000;
    margin-left: 3px;
  }

}
