// В этом файле должны быть стили для БЭМ-блока add-tovar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.add-tovar {

  $block-name:                &; // #{$block-name}__element

  &__type-wrap {
    margin-bottom: 15px;
  }
  &__type-title {
    font-weight: 400;
  }

  &__type {

    .field-radio__name-text {
      border: 1px solid $border-color;
      padding: 1rem;
      border-radius: 3px;
      margin-right: 15px;
      margin-bottom: 15px;
      padding-left: 30px;
      padding-right: 40px;
      display: block;
      cursor: pointer;

      &:before {
        left: 10px;
        top: 13px;
      }

      &:after {
        left: 14px;
        top: 17px;
      }
    }

    input:checked ~ .field-radio__name-text {
      border-color: $color-main;
    }

    .field-radio__name {
      padding-left: 0;
    }
  }

  &__part {

    padding-top: 20px;

    &:not(:first-child) {
      border-top: 1px solid #e0e0e0;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .field-actions {
      .btn {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__field-wrap-sm {
    max-width: 525px;
  }

  &__field-wrap-md {
    max-width: 625px;
  }

  .field-text--price {
    .field-text__input-wrap {
      max-width: 200px;
      display: flex;

      .field-text__sub-name {
        align-self: center;
        margin-left: 10px;
      }
    }
  }

}
