// В этом файле должны быть стили для БЭМ-блока progress, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$border-radius:               3px !default;

$transition-time:             0.3s !default;

.progress {

  $block-name:                &; // #{$block-name}__element

  margin-top: 25px;
  margin-bottom: 5px;
  border: 1px solid #bebebe;
  border-radius: 2px;
  text-align: center;

  &__bar {
    background-color: #8dc641;
    margin: 1px;
    border-radius: 2px;
    padding: 3px;
    max-width: 100%;
    transition: width $transition-time;
  }

  &__info {
    font-size: 12px;
    color: #000;
    margin-bottom: 20px;
  }
}
