// В этом файле должны быть стили для БЭМ-блока btn-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn-link {

  $block-name:                &; // #{$block-name}__element

  text-decoration: underline;
  font-size: 14px;

  &:hover {
    text-decoration: none;
  }

  &--black {
    color: #000;
  }

  &--gray {
    color: #a5a5a5;
  }

}
