// В этом файле должны быть стили для БЭМ-блока fw-banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fw-banner {

  $block-name:                &; // #{$block-name}__element

  margin: 20px 0;

  a {
    display: block;
  }

  img {
    display: block;
  }

}
