// В этом файле должны быть стили для БЭМ-блока l-lk, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.l-lk {

  $block-name:                &; // #{$block-name}__element

  background: #f3f2f2;
  padding: 20px 0 40px 0;

  &__container {
    @include container;
  }

  &__inner {
    @include row;
  }

  &__sidebar {
    @include col();
    @include col(xl, 3);

    .box {
      margin-bottom: 20px;
    }
  }

  &__main {
    @include col();
    @include col(xl, 9);
  }

  &__title {
    margin-top: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
  }

}
