// В этом файле должны быть стили для БЭМ-блока entry-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.entry-box {

  $block-name:                &; // #{$block-name}__element

  border-radius: 2px;
  border: solid 1px #a2a2a2;
  background-color: #fff;

  &__header {
    border-bottom: 1px solid #a2a2a2;
    padding: 15px 25px;
  }

  &__body {
    padding: 25px;
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }

  &__type {

    .field-radio {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .field-radio__input-wrap {
      margin-top: 0.6875em;
    }
  }

  .field-actions {
    .btn {
      min-width: 100%;
    }
  }

  &--login {
    #{$block-name}__header {
      border: none;
    }

    #{$block-name}__title {
      margin-bottom: 0;
    }
  }
}
