// В этом файле должны быть стили для БЭМ-блока widget-wrap, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.widget-wrap {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__tab {
    @include col();
    @include col(xl, 9);

    margin-bottom: 20px;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__feed {
    @include col();
    @include col(xl, 3);
  }

  &__sellers {
    @include col();
  }

  &__notifi {
    @include col();
    @include col(xl, 6);

    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__reviews {
    @include col();
    @include col(xl, 6);

    margin-top: 10px;
    margin-bottom: 20px;
  }
}
