// В этом файле должны быть стили для БЭМ-блока notifi-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.notifi-form {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    max-width: 100%;
    flex-basis: 100%;

    @media (min-width: $screen-sm) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  &__add-link {
    display: inline-block;
    color: #fff;
    margin: 1.4em 10px 0.3em 10px;

    @media (min-width: $screen-sm) {
      margin: 0.3em 10px;
    }
  }

}
