// В этом файле должны быть стили для БЭМ-блока l-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.l-main {

  $block-name:                &; // #{$block-name}__element

  background: #f3f2f2;
  padding-top: 20px;

  &__section {
    padding: 0 0 20px 0;
    @include container;
  }

  &__carousel {
    .card {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
