// В этом файле должны быть стили для БЭМ-блока lk-tovar-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.ab-card {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__img-wrap {
    margin-right: 30px;
    flex-shrink: 0;

    img {
      border-radius: 5px;
      display: block;
    }
  }

  &__content {
    flex-grow: 1;
    border-right: 1px solid #dfdfdf;
  }

  &__opt {

    flex-shrink: 0;
    padding-left: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 15px;
      }

      a {
        color: #000;
        display: block;

        &:hover {
          color: #ff1b1b;
          text-decoration: underline;
        }
      }
    }
  }

  &__header {

  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__cost {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }

  &__progress {
    max-width: 300px;
  }

  &__bar {}

  &__bar-info {
    color: #7f7b7b;

    span {
      margin-right: 16px;
    }
  }

  &--options {
    #{$block-name}__inner {
      background: #fae8a8;
      border: none;
      padding: 0;
      margin: 0;
    }

    #{$block-name}__content {
      border-right: none;
    }
  }
}
