// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;

$font-size--h3:               1.5em !default;

$line-height:                 1.375em !default;

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: $line-height;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    margin-top: $line-height;
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h3;
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: $line-height;
    color: currentColor;
  }
}

.required-field {
  position: relative;

  &::after {
    content: "*";
    display: block;
    width: 10px;
    height: 10px;
    color: #ff0000;
    font-size: 16px;
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 2;
  }
}

.required-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .field-actions__text {
    margin-bottom: 1em;

    span {
      color: #ff0000;
    }
  }
}
